@import "../../../styles/var";
@import "../../../styles/mixin";

.video {
  width: 100%;

  .thumb {
    display: block;
    width: 100%;
    height: 10rem;

    background: #eee no-repeat center;
    background-size: cover;
  }

  .title {
    width: 100%;
    height: 3rem;
    margin: 0;
    padding: 0px 8px;
    border-bottom: 1px solid #d7d7d7;
    background: #fff;

    color: #666;
    font-size: 1.2rem;
    line-height: 3rem;

    .text-overflow-ellipsis;
  }
}